*::before, *::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  color: #3d3d3d;
}

hr {
  color: inherit;
  height: 0;
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #2266a7;
  cursor: pointer;
}
a:active, a:hover {
  color: #f15a3b;
}

ul,
ol,
dl {
  list-style-position: outside;
  margin-bottom: 1.15rem;
}
ul ul,
ul ol,
ul dl,
ol ul,
ol ol,
ol dl,
dl ul,
dl ol,
dl dl {
  margin-bottom: 0;
}

ul {
  margin-left: 1.2rem;
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul.divider, ul.none {
  list-style-type: none;
  margin-left: 0;
}
ul.divider li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
ul.divider li:last-child {
  border-bottom: none;
}

ol {
  margin-left: 1.55rem;
  list-style-type: decimal;
}

img, iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

.portal {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.portal iframe,
.portal object,
.portal embed,
.portal video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 479px) {
  .small-show {
    display: none !important;
  }
}
@media only screen and (min-width: 480px) {
  .small-hide {
    display: none !important;
  }
  .small-text-left {
    text-align: left;
  }
  .small-text-right {
    text-align: right;
  }
  .small-text-center {
    text-align: center;
  }
  .small-text-justify {
    text-align: justify;
  }
  .small-fifth {
    max-width: calc( 20% - 1rem );
    flex: 0 0 calc( 20% - 1rem );
  }
  .small-fifth.collapse {
    max-width: 20%;
    flex: 0 0 20%;
  }
  .small-fit {
    flex: 0 0 auto;
    width: auto;
    max-width: auto;
  }
  .small-fill {
    flex: 1 1 0;
    width: auto;
    max-width: auto;
  }
  .small-twelve {
    max-width: calc( 100%/12 * 12 - 1rem );
    flex: 0 0 calc( 100%/12 * 12 - 1rem );
  }
  .small-twelve.collapse {
    max-width: calc( 100%/12 * 12 );
    flex: 0 0 calc( 100%/12 * 12 );
  }
  .small-order-12 {
    order: 12;
  }
  .small-eleven {
    max-width: calc( 100%/12 * 11 - 1rem );
    flex: 0 0 calc( 100%/12 * 11 - 1rem );
  }
  .small-eleven.collapse {
    max-width: calc( 100%/12 * 11 );
    flex: 0 0 calc( 100%/12 * 11 );
  }
  .small-order-11 {
    order: 11;
  }
  .small-ten {
    max-width: calc( 100%/12 * 10 - 1rem );
    flex: 0 0 calc( 100%/12 * 10 - 1rem );
  }
  .small-ten.collapse {
    max-width: calc( 100%/12 * 10 );
    flex: 0 0 calc( 100%/12 * 10 );
  }
  .small-order-10 {
    order: 10;
  }
  .small-nine {
    max-width: calc( 100%/12 * 9 - 1rem );
    flex: 0 0 calc( 100%/12 * 9 - 1rem );
  }
  .small-nine.collapse {
    max-width: calc( 100%/12 * 9 );
    flex: 0 0 calc( 100%/12 * 9 );
  }
  .small-order-9 {
    order: 9;
  }
  .small-eight {
    max-width: calc( 100%/12 * 8 - 1rem );
    flex: 0 0 calc( 100%/12 * 8 - 1rem );
  }
  .small-eight.collapse {
    max-width: calc( 100%/12 * 8 );
    flex: 0 0 calc( 100%/12 * 8 );
  }
  .small-order-8 {
    order: 8;
  }
  .small-seven {
    max-width: calc( 100%/12 * 7 - 1rem );
    flex: 0 0 calc( 100%/12 * 7 - 1rem );
  }
  .small-seven.collapse {
    max-width: calc( 100%/12 * 7 );
    flex: 0 0 calc( 100%/12 * 7 );
  }
  .small-order-7 {
    order: 7;
  }
  .small-six {
    max-width: calc( 100%/12 * 6 - 1rem );
    flex: 0 0 calc( 100%/12 * 6 - 1rem );
  }
  .small-six.collapse {
    max-width: calc( 100%/12 * 6 );
    flex: 0 0 calc( 100%/12 * 6 );
  }
  .small-order-6 {
    order: 6;
  }
  .small-five {
    max-width: calc( 100%/12 * 5 - 1rem );
    flex: 0 0 calc( 100%/12 * 5 - 1rem );
  }
  .small-five.collapse {
    max-width: calc( 100%/12 * 5 );
    flex: 0 0 calc( 100%/12 * 5 );
  }
  .small-order-5 {
    order: 5;
  }
  .small-four {
    max-width: calc( 100%/12 * 4 - 1rem );
    flex: 0 0 calc( 100%/12 * 4 - 1rem );
  }
  .small-four.collapse {
    max-width: calc( 100%/12 * 4 );
    flex: 0 0 calc( 100%/12 * 4 );
  }
  .small-order-4 {
    order: 4;
  }
  .small-three {
    max-width: calc( 100%/12 * 3 - 1rem );
    flex: 0 0 calc( 100%/12 * 3 - 1rem );
  }
  .small-three.collapse {
    max-width: calc( 100%/12 * 3 );
    flex: 0 0 calc( 100%/12 * 3 );
  }
  .small-order-3 {
    order: 3;
  }
  .small-two {
    max-width: calc( 100%/12 * 2 - 1rem );
    flex: 0 0 calc( 100%/12 * 2 - 1rem );
  }
  .small-two.collapse {
    max-width: calc( 100%/12 * 2 );
    flex: 0 0 calc( 100%/12 * 2 );
  }
  .small-order-2 {
    order: 2;
  }
  .small-one {
    max-width: calc( 100%/12 * 1 - 1rem );
    flex: 0 0 calc( 100%/12 * 1 - 1rem );
  }
  .small-one.collapse {
    max-width: calc( 100%/12 * 1 );
    flex: 0 0 calc( 100%/12 * 1 );
  }
  .small-order-1 {
    order: 1;
  }
}
@media only screen and (max-width: 767px) {
  .medium-show {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .medium-hide {
    display: none !important;
  }
  .medium-text-left {
    text-align: left;
  }
  .medium-text-right {
    text-align: right;
  }
  .medium-text-center {
    text-align: center;
  }
  .medium-text-justify {
    text-align: justify;
  }
  .medium-fifth {
    max-width: calc( 20% - 1rem );
    flex: 0 0 calc( 20% - 1rem );
  }
  .medium-fifth.collapse {
    max-width: 20%;
    flex: 0 0 20%;
  }
  .medium-fit {
    flex: 0 0 auto;
    width: auto;
    max-width: auto;
  }
  .medium-fill {
    flex: 1 1 0;
    width: auto;
    max-width: auto;
  }
  .medium-twelve {
    max-width: calc( 100%/12 * 12 - 1rem );
    flex: 0 0 calc( 100%/12 * 12 - 1rem );
  }
  .medium-twelve.collapse {
    max-width: calc( 100%/12 * 12 );
    flex: 0 0 calc( 100%/12 * 12 );
  }
  .medium-order-12 {
    order: 12;
  }
  .medium-eleven {
    max-width: calc( 100%/12 * 11 - 1rem );
    flex: 0 0 calc( 100%/12 * 11 - 1rem );
  }
  .medium-eleven.collapse {
    max-width: calc( 100%/12 * 11 );
    flex: 0 0 calc( 100%/12 * 11 );
  }
  .medium-order-11 {
    order: 11;
  }
  .medium-ten {
    max-width: calc( 100%/12 * 10 - 1rem );
    flex: 0 0 calc( 100%/12 * 10 - 1rem );
  }
  .medium-ten.collapse {
    max-width: calc( 100%/12 * 10 );
    flex: 0 0 calc( 100%/12 * 10 );
  }
  .medium-order-10 {
    order: 10;
  }
  .medium-nine {
    max-width: calc( 100%/12 * 9 - 1rem );
    flex: 0 0 calc( 100%/12 * 9 - 1rem );
  }
  .medium-nine.collapse {
    max-width: calc( 100%/12 * 9 );
    flex: 0 0 calc( 100%/12 * 9 );
  }
  .medium-order-9 {
    order: 9;
  }
  .medium-eight {
    max-width: calc( 100%/12 * 8 - 1rem );
    flex: 0 0 calc( 100%/12 * 8 - 1rem );
  }
  .medium-eight.collapse {
    max-width: calc( 100%/12 * 8 );
    flex: 0 0 calc( 100%/12 * 8 );
  }
  .medium-order-8 {
    order: 8;
  }
  .medium-seven {
    max-width: calc( 100%/12 * 7 - 1rem );
    flex: 0 0 calc( 100%/12 * 7 - 1rem );
  }
  .medium-seven.collapse {
    max-width: calc( 100%/12 * 7 );
    flex: 0 0 calc( 100%/12 * 7 );
  }
  .medium-order-7 {
    order: 7;
  }
  .medium-six {
    max-width: calc( 100%/12 * 6 - 1rem );
    flex: 0 0 calc( 100%/12 * 6 - 1rem );
  }
  .medium-six.collapse {
    max-width: calc( 100%/12 * 6 );
    flex: 0 0 calc( 100%/12 * 6 );
  }
  .medium-order-6 {
    order: 6;
  }
  .medium-five {
    max-width: calc( 100%/12 * 5 - 1rem );
    flex: 0 0 calc( 100%/12 * 5 - 1rem );
  }
  .medium-five.collapse {
    max-width: calc( 100%/12 * 5 );
    flex: 0 0 calc( 100%/12 * 5 );
  }
  .medium-order-5 {
    order: 5;
  }
  .medium-four {
    max-width: calc( 100%/12 * 4 - 1rem );
    flex: 0 0 calc( 100%/12 * 4 - 1rem );
  }
  .medium-four.collapse {
    max-width: calc( 100%/12 * 4 );
    flex: 0 0 calc( 100%/12 * 4 );
  }
  .medium-order-4 {
    order: 4;
  }
  .medium-three {
    max-width: calc( 100%/12 * 3 - 1rem );
    flex: 0 0 calc( 100%/12 * 3 - 1rem );
  }
  .medium-three.collapse {
    max-width: calc( 100%/12 * 3 );
    flex: 0 0 calc( 100%/12 * 3 );
  }
  .medium-order-3 {
    order: 3;
  }
  .medium-two {
    max-width: calc( 100%/12 * 2 - 1rem );
    flex: 0 0 calc( 100%/12 * 2 - 1rem );
  }
  .medium-two.collapse {
    max-width: calc( 100%/12 * 2 );
    flex: 0 0 calc( 100%/12 * 2 );
  }
  .medium-order-2 {
    order: 2;
  }
  .medium-one {
    max-width: calc( 100%/12 * 1 - 1rem );
    flex: 0 0 calc( 100%/12 * 1 - 1rem );
  }
  .medium-one.collapse {
    max-width: calc( 100%/12 * 1 );
    flex: 0 0 calc( 100%/12 * 1 );
  }
  .medium-order-1 {
    order: 1;
  }
}
@media only screen and (max-width: 1023px) {
  .large-show {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .large-hide {
    display: none !important;
  }
  .large-text-left {
    text-align: left;
  }
  .large-text-right {
    text-align: right;
  }
  .large-text-center {
    text-align: center;
  }
  .large-text-justify {
    text-align: justify;
  }
  .large-fifth {
    max-width: calc( 20% - 1rem );
    flex: 0 0 calc( 20% - 1rem );
  }
  .large-fifth.collapse {
    max-width: 20%;
    flex: 0 0 20%;
  }
  .large-fit {
    flex: 0 0 auto;
    width: auto;
    max-width: auto;
  }
  .large-fill {
    flex: 1 1 0;
    width: auto;
    max-width: auto;
  }
  .large-twelve {
    max-width: calc( 100%/12 * 12 - 1rem );
    flex: 0 0 calc( 100%/12 * 12 - 1rem );
  }
  .large-twelve.collapse {
    max-width: calc( 100%/12 * 12 );
    flex: 0 0 calc( 100%/12 * 12 );
  }
  .large-order-12 {
    order: 12;
  }
  .large-eleven {
    max-width: calc( 100%/12 * 11 - 1rem );
    flex: 0 0 calc( 100%/12 * 11 - 1rem );
  }
  .large-eleven.collapse {
    max-width: calc( 100%/12 * 11 );
    flex: 0 0 calc( 100%/12 * 11 );
  }
  .large-order-11 {
    order: 11;
  }
  .large-ten {
    max-width: calc( 100%/12 * 10 - 1rem );
    flex: 0 0 calc( 100%/12 * 10 - 1rem );
  }
  .large-ten.collapse {
    max-width: calc( 100%/12 * 10 );
    flex: 0 0 calc( 100%/12 * 10 );
  }
  .large-order-10 {
    order: 10;
  }
  .large-nine {
    max-width: calc( 100%/12 * 9 - 1rem );
    flex: 0 0 calc( 100%/12 * 9 - 1rem );
  }
  .large-nine.collapse {
    max-width: calc( 100%/12 * 9 );
    flex: 0 0 calc( 100%/12 * 9 );
  }
  .large-order-9 {
    order: 9;
  }
  .large-eight {
    max-width: calc( 100%/12 * 8 - 1rem );
    flex: 0 0 calc( 100%/12 * 8 - 1rem );
  }
  .large-eight.collapse {
    max-width: calc( 100%/12 * 8 );
    flex: 0 0 calc( 100%/12 * 8 );
  }
  .large-order-8 {
    order: 8;
  }
  .large-seven {
    max-width: calc( 100%/12 * 7 - 1rem );
    flex: 0 0 calc( 100%/12 * 7 - 1rem );
  }
  .large-seven.collapse {
    max-width: calc( 100%/12 * 7 );
    flex: 0 0 calc( 100%/12 * 7 );
  }
  .large-order-7 {
    order: 7;
  }
  .large-six {
    max-width: calc( 100%/12 * 6 - 1rem );
    flex: 0 0 calc( 100%/12 * 6 - 1rem );
  }
  .large-six.collapse {
    max-width: calc( 100%/12 * 6 );
    flex: 0 0 calc( 100%/12 * 6 );
  }
  .large-order-6 {
    order: 6;
  }
  .large-five {
    max-width: calc( 100%/12 * 5 - 1rem );
    flex: 0 0 calc( 100%/12 * 5 - 1rem );
  }
  .large-five.collapse {
    max-width: calc( 100%/12 * 5 );
    flex: 0 0 calc( 100%/12 * 5 );
  }
  .large-order-5 {
    order: 5;
  }
  .large-four {
    max-width: calc( 100%/12 * 4 - 1rem );
    flex: 0 0 calc( 100%/12 * 4 - 1rem );
  }
  .large-four.collapse {
    max-width: calc( 100%/12 * 4 );
    flex: 0 0 calc( 100%/12 * 4 );
  }
  .large-order-4 {
    order: 4;
  }
  .large-three {
    max-width: calc( 100%/12 * 3 - 1rem );
    flex: 0 0 calc( 100%/12 * 3 - 1rem );
  }
  .large-three.collapse {
    max-width: calc( 100%/12 * 3 );
    flex: 0 0 calc( 100%/12 * 3 );
  }
  .large-order-3 {
    order: 3;
  }
  .large-two {
    max-width: calc( 100%/12 * 2 - 1rem );
    flex: 0 0 calc( 100%/12 * 2 - 1rem );
  }
  .large-two.collapse {
    max-width: calc( 100%/12 * 2 );
    flex: 0 0 calc( 100%/12 * 2 );
  }
  .large-order-2 {
    order: 2;
  }
  .large-one {
    max-width: calc( 100%/12 * 1 - 1rem );
    flex: 0 0 calc( 100%/12 * 1 - 1rem );
  }
  .large-one.collapse {
    max-width: calc( 100%/12 * 1 );
    flex: 0 0 calc( 100%/12 * 1 );
  }
  .large-order-1 {
    order: 1;
  }
}
@media only screen and (max-width: 1279px) {
  .xlarge-show {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  .xlarge-hide {
    display: none !important;
  }
  .xlarge-text-left {
    text-align: left;
  }
  .xlarge-text-right {
    text-align: right;
  }
  .xlarge-text-center {
    text-align: center;
  }
  .xlarge-text-justify {
    text-align: justify;
  }
  .xlarge-fifth {
    max-width: calc( 20% - 1rem );
    flex: 0 0 calc( 20% - 1rem );
  }
  .xlarge-fifth.collapse {
    max-width: 20%;
    flex: 0 0 20%;
  }
  .xlarge-fit {
    flex: 0 0 auto;
    width: auto;
    max-width: auto;
  }
  .xlarge-fill {
    flex: 1 1 0;
    width: auto;
    max-width: auto;
  }
  .xlarge-twelve {
    max-width: calc( 100%/12 * 12 - 1rem );
    flex: 0 0 calc( 100%/12 * 12 - 1rem );
  }
  .xlarge-twelve.collapse {
    max-width: calc( 100%/12 * 12 );
    flex: 0 0 calc( 100%/12 * 12 );
  }
  .xlarge-order-12 {
    order: 12;
  }
  .xlarge-eleven {
    max-width: calc( 100%/12 * 11 - 1rem );
    flex: 0 0 calc( 100%/12 * 11 - 1rem );
  }
  .xlarge-eleven.collapse {
    max-width: calc( 100%/12 * 11 );
    flex: 0 0 calc( 100%/12 * 11 );
  }
  .xlarge-order-11 {
    order: 11;
  }
  .xlarge-ten {
    max-width: calc( 100%/12 * 10 - 1rem );
    flex: 0 0 calc( 100%/12 * 10 - 1rem );
  }
  .xlarge-ten.collapse {
    max-width: calc( 100%/12 * 10 );
    flex: 0 0 calc( 100%/12 * 10 );
  }
  .xlarge-order-10 {
    order: 10;
  }
  .xlarge-nine {
    max-width: calc( 100%/12 * 9 - 1rem );
    flex: 0 0 calc( 100%/12 * 9 - 1rem );
  }
  .xlarge-nine.collapse {
    max-width: calc( 100%/12 * 9 );
    flex: 0 0 calc( 100%/12 * 9 );
  }
  .xlarge-order-9 {
    order: 9;
  }
  .xlarge-eight {
    max-width: calc( 100%/12 * 8 - 1rem );
    flex: 0 0 calc( 100%/12 * 8 - 1rem );
  }
  .xlarge-eight.collapse {
    max-width: calc( 100%/12 * 8 );
    flex: 0 0 calc( 100%/12 * 8 );
  }
  .xlarge-order-8 {
    order: 8;
  }
  .xlarge-seven {
    max-width: calc( 100%/12 * 7 - 1rem );
    flex: 0 0 calc( 100%/12 * 7 - 1rem );
  }
  .xlarge-seven.collapse {
    max-width: calc( 100%/12 * 7 );
    flex: 0 0 calc( 100%/12 * 7 );
  }
  .xlarge-order-7 {
    order: 7;
  }
  .xlarge-six {
    max-width: calc( 100%/12 * 6 - 1rem );
    flex: 0 0 calc( 100%/12 * 6 - 1rem );
  }
  .xlarge-six.collapse {
    max-width: calc( 100%/12 * 6 );
    flex: 0 0 calc( 100%/12 * 6 );
  }
  .xlarge-order-6 {
    order: 6;
  }
  .xlarge-five {
    max-width: calc( 100%/12 * 5 - 1rem );
    flex: 0 0 calc( 100%/12 * 5 - 1rem );
  }
  .xlarge-five.collapse {
    max-width: calc( 100%/12 * 5 );
    flex: 0 0 calc( 100%/12 * 5 );
  }
  .xlarge-order-5 {
    order: 5;
  }
  .xlarge-four {
    max-width: calc( 100%/12 * 4 - 1rem );
    flex: 0 0 calc( 100%/12 * 4 - 1rem );
  }
  .xlarge-four.collapse {
    max-width: calc( 100%/12 * 4 );
    flex: 0 0 calc( 100%/12 * 4 );
  }
  .xlarge-order-4 {
    order: 4;
  }
  .xlarge-three {
    max-width: calc( 100%/12 * 3 - 1rem );
    flex: 0 0 calc( 100%/12 * 3 - 1rem );
  }
  .xlarge-three.collapse {
    max-width: calc( 100%/12 * 3 );
    flex: 0 0 calc( 100%/12 * 3 );
  }
  .xlarge-order-3 {
    order: 3;
  }
  .xlarge-two {
    max-width: calc( 100%/12 * 2 - 1rem );
    flex: 0 0 calc( 100%/12 * 2 - 1rem );
  }
  .xlarge-two.collapse {
    max-width: calc( 100%/12 * 2 );
    flex: 0 0 calc( 100%/12 * 2 );
  }
  .xlarge-order-2 {
    order: 2;
  }
  .xlarge-one {
    max-width: calc( 100%/12 * 1 - 1rem );
    flex: 0 0 calc( 100%/12 * 1 - 1rem );
  }
  .xlarge-one.collapse {
    max-width: calc( 100%/12 * 1 );
    flex: 0 0 calc( 100%/12 * 1 );
  }
  .xlarge-order-1 {
    order: 1;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
::selection {
  background-color: #57a290;
  color: #fff;
}

:focus {
  outline: 0;
}

p {
  margin-bottom: 1.1rem;
  text-rendering: optimizeLegibility;
}

em,
i,
.em {
  font-style: italic;
  line-height: inherit;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

strong,
b,
.strong {
  font-weight: bolder;
  line-height: inherit;
}

small,
.small {
  font-size: 80%;
}

.large {
  font-size: 140%;
}

sup,
.sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}

sub,
.sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  bottom: -0.25em;
}

.ellipsis,
.ellipsis li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-clip,
.text-clip li {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  color: #181818;
  margin-bottom: 1.5rem;
}

h1.headline {
  font-size: 4rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.827rem;
  line-height: 1.4;
}

h2 {
  font-size: 1.999rem;
  line-height: 1.55;
}

h3 {
  font-size: 1.414rem;
  line-height: 1.7;
}

h4 {
  font-size: 1rem;
  line-height: 1.85;
}

h5 {
  font-size: 0.707rem;
  line-height: 2;
}

h6 {
  font-size: 0.707rem;
  line-height: 2;
}

@media only screen and (min-width: 768px) {
  h1.headline {
    font-size: 5.653rem;
    line-height: 1.18;
  }
  h2 {
    font-size: 2.827rem;
    line-height: 1.4;
  }
  h3 {
    font-size: 1.999rem;
    line-height: 1.55;
  }
  h4 {
    font-size: 1.414rem;
    line-height: 1.7;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.85;
  }
}
.sub-header {
  color: rgba(61, 61, 61, 0.6);
}

.headline {
  font-size: 7vw;
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 5vw;
}

h3 {
  font-size: 4.5vw;
}

h4 {
  font-size: 4vw;
}

h5 {
  font-size: 3.5vw;
}

h6 {
  font-size: 3vw;
}

.grid {
  position: relative;
  display: flex;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  flex-flow: row wrap;
}
.grid.collapse > .cell {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.grid.edge {
  margin-left: -1rem;
  margin-right: -1rem;
}
.grid.half-edge {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-top {
  align-items: flex-start;
}

.align-bottom {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.reverse {
  flex-direction: row-reverse;
}

.vertical {
  flex-direction: column;
  flex-wrap: nowrap;
}
.vertical.reverse {
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}

.cell {
  flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.cell.fit {
  flex: 0 0 auto;
  width: auto;
}
.cell.fill {
  flex: 1 1;
  width: auto;
}
.cell.collapse {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.hide {
  display: none !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.fifth {
  max-width: calc( 20% - 1rem );
  flex: 0 0 calc( 20% - 1rem );
}
.fifth.collapse {
  max-width: 20%;
  flex: 0 0 20%;
}

.fit {
  flex: 0 0 auto;
  width: auto;
  max-width: auto;
}

.fill {
  flex: 1 1 0;
  width: auto;
  max-width: auto;
}

.twelve {
  max-width: calc( 100%/12 * 12 - 1rem );
  flex: 0 0 calc( 100%/12 * 12 - 1rem );
}
.twelve.collapse {
  max-width: calc( 100%/12 * 12 );
  flex: 0 0 calc( 100%/12 * 12 );
}

.order-12 {
  order: 12;
}

.eleven {
  max-width: calc( 100%/12 * 11 - 1rem );
  flex: 0 0 calc( 100%/12 * 11 - 1rem );
}
.eleven.collapse {
  max-width: calc( 100%/12 * 11 );
  flex: 0 0 calc( 100%/12 * 11 );
}

.order-11 {
  order: 11;
}

.ten {
  max-width: calc( 100%/12 * 10 - 1rem );
  flex: 0 0 calc( 100%/12 * 10 - 1rem );
}
.ten.collapse {
  max-width: calc( 100%/12 * 10 );
  flex: 0 0 calc( 100%/12 * 10 );
}

.order-10 {
  order: 10;
}

.nine {
  max-width: calc( 100%/12 * 9 - 1rem );
  flex: 0 0 calc( 100%/12 * 9 - 1rem );
}
.nine.collapse {
  max-width: calc( 100%/12 * 9 );
  flex: 0 0 calc( 100%/12 * 9 );
}

.order-9 {
  order: 9;
}

.eight {
  max-width: calc( 100%/12 * 8 - 1rem );
  flex: 0 0 calc( 100%/12 * 8 - 1rem );
}
.eight.collapse {
  max-width: calc( 100%/12 * 8 );
  flex: 0 0 calc( 100%/12 * 8 );
}

.order-8 {
  order: 8;
}

.seven {
  max-width: calc( 100%/12 * 7 - 1rem );
  flex: 0 0 calc( 100%/12 * 7 - 1rem );
}
.seven.collapse {
  max-width: calc( 100%/12 * 7 );
  flex: 0 0 calc( 100%/12 * 7 );
}

.order-7 {
  order: 7;
}

.six {
  max-width: calc( 100%/12 * 6 - 1rem );
  flex: 0 0 calc( 100%/12 * 6 - 1rem );
}
.six.collapse {
  max-width: calc( 100%/12 * 6 );
  flex: 0 0 calc( 100%/12 * 6 );
}

.order-6 {
  order: 6;
}

.five {
  max-width: calc( 100%/12 * 5 - 1rem );
  flex: 0 0 calc( 100%/12 * 5 - 1rem );
}
.five.collapse {
  max-width: calc( 100%/12 * 5 );
  flex: 0 0 calc( 100%/12 * 5 );
}

.order-5 {
  order: 5;
}

.four {
  max-width: calc( 100%/12 * 4 - 1rem );
  flex: 0 0 calc( 100%/12 * 4 - 1rem );
}
.four.collapse {
  max-width: calc( 100%/12 * 4 );
  flex: 0 0 calc( 100%/12 * 4 );
}

.order-4 {
  order: 4;
}

.three {
  max-width: calc( 100%/12 * 3 - 1rem );
  flex: 0 0 calc( 100%/12 * 3 - 1rem );
}
.three.collapse {
  max-width: calc( 100%/12 * 3 );
  flex: 0 0 calc( 100%/12 * 3 );
}

.order-3 {
  order: 3;
}

.two {
  max-width: calc( 100%/12 * 2 - 1rem );
  flex: 0 0 calc( 100%/12 * 2 - 1rem );
}
.two.collapse {
  max-width: calc( 100%/12 * 2 );
  flex: 0 0 calc( 100%/12 * 2 );
}

.order-2 {
  order: 2;
}

.one {
  max-width: calc( 100%/12 * 1 - 1rem );
  flex: 0 0 calc( 100%/12 * 1 - 1rem );
}
.one.collapse {
  max-width: calc( 100%/12 * 1 );
  flex: 0 0 calc( 100%/12 * 1 );
}

.order-1 {
  order: 1;
}

/*# sourceMappingURL=valance.css.map */
